<!DOCTYPE html>

<html>

<head>

    <title> My Express Blog</title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom:60px;
            width: 960px;
            margin: 0 auto;
        }
        .container{
            width: 960px;
            margin: 0 auto;
        }

    </style>

</head>
<body>



    <div id="container" class="container">

        <%- body %>
        <br/>
        <hr/>


        <footer>
            <p><a href="" target="_blank">Powered by Dawn</a></p>
        </footer>


    </div>


</body>


<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>


</html>