<%- include header%>



<div>

    <style type="text/css">

        .form-group{
            width: 500px;
            margin: 0 auto;
        }

    </style>

    <script language="javascript">
        function defineSubmit(btn)
        {
            document.postform.submit();
        }
    </script>

    <form name="postform" class="form-group" method="post">

        <label for="inputUsername">Title</label>
        <br/>
        <input type="text" class="form-control" name="title" placeholder="Title" required autofocus>
        <br/>
        <label for="inputPost">Post</label><br/>
        <textarea name="article" class="form-control" rows="3"></textarea>
        <br/>
        <input type="button" class="btn btn-primary col-sm-4" onclick="defineSubmit(this)" value="Publish"/>
    </form>

</div>